{% extends "base.html" %}

{% block content %}
<h1>Register</h1>
{% if form.errors %}
 
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Error(s):</strong> 
    <ul>
        {{form.errors.items}}
      {% for field, errors in form.errors.items %}
        {% for error in errors %}
          <li>{{ field }}: {{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}

<form method="post" action="">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Register</button>
</form>

{% endblock %}
